<!DOCTYPE html>
<html>

<head>
  {{- partial "head.html" . -}}
  {{- block "head" . }} {{- end }}
  <title>
    {{- block "title" . }} {{- end }}
  </title>
</head>

<body class="light">
  <!-- javascripts -->
  <!-- <script src="/js/jquery-3.6.0.min.js"></script> -->

  {{- partial "sections/header.html" . -}}
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "sections/footer/index.html" . -}}

  <script src="{{ .Site.Params.staticPath }}/bootstrap-5/js/bootstrap.bundle.min.js"></script>

  {{- partial "scripts.html" . -}}

  <!-- for search -->
  <section id="search-content" class="py-2">
    <div class="container" id="search-results"></div>
  </section>
</body>

</html>
